<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>componentBaseW11</servlet-name>
        <servlet-class>views.componentBaseW11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudentController</servlet-name>
        <servlet-class>controller.addStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudentController</servlet-name>
        <servlet-class>controller.RemoveStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRemoveController</servlet-name>
        <servlet-class>controller.ConfirmRemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentController</servlet-name>
        <servlet-class>controller.UpdateStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateController</servlet-name>
        <servlet-class>controller.ConfirmUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>componentBaseW11</servlet-name>
        <url-pattern>/componentBaseW11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudentController</servlet-name>
        <url-pattern>/addStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudentController</servlet-name>
        <url-pattern>/RemoveStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRemoveController</servlet-name>
        <url-pattern>/ConfirmRemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentController</servlet-name>
        <url-pattern>/UpdateStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateController</servlet-name>
        <url-pattern>/ConfirmUpdateController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/student</description>
        <res-ref-name>student</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
